body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.open-cards {
  padding: auto;
  margin-left: 10px;

  width: 50%;
  height: 60%;

  text-align: center;

  border: 1px solid black;
  border-radius: 2%;
  display: flex;
  background-color: #f2f2f2;
}

.deck {
  margin-left: 10px;

  width: 50%;
  height: 60%;

  line-height: 5;
  text-align: center;

  background-color: lightgrey;
  border: 1px solid black;
  border-radius: 2%;
  display: flex;

  cursor: pointer;
}

.card {
  font-size: 90px;
  position: absolute;
  width: 63px;
  height: 85px;
  line-height: 0.7;

  text-align: center;
  border: 1px solid black;
  border-radius: 0px;
  display: flex;
  cursor: move;
  background-color: lightgreen;
}

.pile-card {
  padding: auto;
  font-size: 90px;
  margin-top: -20px;

  width: 63px;
  height: 85px;
  line-height: 0.7;

  position: relative;

  text-align: center;

  border: 1px solid black;
  display: flex;

  cursor: move;
  background-color: lightgreen;
}

.drop-here {
  font-size: 16px;

  width: 150px;
  height: 150px;

  line-height: 0.9;
  text-align: center;

  background-color: darkcyan;
  border: 1px solid black;
  cursor: pointer;
  margin-left: 50px;
}

.place-here {
  display: flex;
  justify-content: space-around;
}

.pile-lots {
  display: flex;
  justify-content: space-evenly;
  margin-left: 0px;
}

.piles {
  font-size: 20px;
  width: 142.5px;
  height: 500px;

  border: 1px solid black;
  border-radius: 2%;

  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.deck-and-open-cards {
  width: 200px;
  height: 200px;

  display: flex;
  justify-content: space-between;
}

.bottom-section {
  display: 'flex';
  justify-content: 'space-around';
  margin-top: 50px;
}

.top-section {
  /* display: flex; */
}
